[Unit]
Description=ceph_exporter for promethous
After=network.target

[Service]
ExecStart=/usr/bin/ceph_exporter
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target